body {
    background-image: url(./assets/lentejas\ con\ vegetales.jpg);
    color: white;
    font-size: larger;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}