body {

    background-image: url(./assets/vegana\ de\ champiñones.jpg);
    color: white;
    font-size: larger;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}