body {

    background-image: url(./BIT-1/assets/lentejas\ con\ vegetales.jpg);
    color: white;
    font-size: larger;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}